.light-theme {
    --primary: #5C53A7;
    --on-surface-variant: #47464F;
    --on-primary: #FFFFFF;
    --on-surface: #1C1B1F;
    --secondary: #5F5C71;
    --surface: #FFFBFF;
    --surface1: linear-gradient(0deg, rgba(92, 83, 167, 0.05), rgba(92, 83, 167, 0.05)), var(--surface);
    --outline: #787680;
}

.dark-theme {
    --primary: #C6BFFF;
    --on-surface-variant: #C9C5D0;
    --on-primary: #2D2276;
    --on-surface: #E5E1E6;
    --secondary: #C8C3DC;
    --surface: #1C1B1F;
    --surface1: linear-gradient(0deg, rgba(198, 191, 255, 0.05), rgba(198, 191, 255, 0.05)), var(--surface);
    --outline: #928F99;
}

body {
    background-color: var(--surface);
    color: var(--primary) !important;
}

.text-on-surface-variant {
    color: var(--on-surface-variant);
}

.text-secondary {
    color: var(--secondary);
}

.material-button-filled {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--on-primary) !important;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 500px;
    border: none;
    background: var(--primary);
}

.material-button-border {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary) !important;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 500px;
    border: 1px solid var(--outline);
    background: var(--surface1);
}

.material-card {
    color: var(--on-surface);
    font-size: 16px;
    border-radius: 12px;
    background: var(--surface1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.form-switch .form-check-input,
.form-switch .form-check-input:focus,
.form-switch .form-check-input:checked {
    outline: 0;
    box-shadow: none;
    height: 24px;
    width: 48px;
    border: 4px solid var(--primary);
    background-image: url(../assets/svgs/circle.svg);
    background-color: var(--primary);
}