@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto.ttf);
}

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0%;
    font-family: Roboto;
}

.center-vh {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-size {
    width: 18rem;
    height: 18rem;
}

a {
	text-decoration: none;
}