@font-face {
    font-family: custom-font;
    src: url(../assets/KumbhSans.ttf); 
}

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0%;
    font-family: custom-font;
    font-weight: 500;
}

.center-vh {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-check-input{
    border-color: #1c1f23 !important;
    box-shadow: none !important;
    background-image: url(../assets/circle.png) !important;
}

.form-check-input:checked {
    background-color: #1c1f23;
    border-color: white !important;
}

.btn{
    background-color: #1c1f23 ;
}

.img-size {
    width: 18rem;
    height: 18rem;
}

.darkBody{
    background-color: #1c1f23;
    color: white;
}

.lightBody{
    background-color: white;
    color: #1c1f23;
}